<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.jandystudio.adfit.youtube"
      version="0.0.1">

    <name>Youtube</name>
    <description>Cordova Youtube Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,modal</keywords>
    <repo></repo>

    <engines>
      <engine name="cordova" version=">=3.1.0" /><!-- Needs cordova/urlutil -->
    </engines>

    <js-module src="www/adfityoutube.js" name="Adfityoutube">
        <clobbers target="Adfityoutube" />
    </js-module>

   

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AdfitYoutube">
                <param name="ios-package" value="AdfitYoutube" />
            </feature>
        </config-file>

        <header-file src="src/ios/AdfitYoutube.h" />
	    <source-file src="src/ios/AdfitYoutube.m" />

        <header-file src="src/ios/HCYoutubeParser.h" />
        <source-file src="src/ios/HCYoutubeParser.m" />

        <header-file src="src/ios/AdfitYoutubeViewController.h" />
        <source-file src="src/ios/AdfitYoutubeViewController.m" />
      
        <framework src="QuartzCore.framework" />
        <framework src="MediaPlayer.framework" />
    </platform>


    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="AdfitYoutube">
                <param name="android-package" value="com.adfit.plugins.AdfitYoutube"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.keyes.youtube.OpenYouTubePlayerActivity" 
                android:screenOrientation="landscape" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>

        <source-file src="src/android/com/adfit/plugins/AdfitYoutube.java"
            target-dir="src/com/adfit/plugins"/>
        <source-file src="src/android/com/adfit/plugins/PlayerViewDemoActivity.java"
            target-dir="src/com/adfit/plugins"/>
        <source-file src="src/android/libs/YouTubeAndroidPlayerApi.jar" target-dir="libs/"/>

    </platform>

</plugin>
